<?xml version="1.0" encoding="utf-8"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="RemoteOnly" defaultRedirect="Erreur.aspx" />
    <!--afficher la monaie correspondant la config de notre serveur-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" />
    <!--securité pour la création des comptes-->
    <membership defaultProvider="AccessMembershipProvider">
			<providers>
				<clear/>
				<add name="AccessMembershipProvider" 
					type="Samples.AccessProviders.AccessMembershipProvider, SampleAccessProviders" 
					connectionStringName="LUP" 
					enablePasswordRetrieval="false" 
					enablePasswordReset="false" 
					requiresUniqueEmail="false" 
					requiresQuestionAndAnswer="false" 
					minRequiredPasswordLength="1" 
					minRequiredNonalphanumericCharacters="0" 
					applicationName="LibrairieUnPeuPlus" 
					hashAlgorithmType="SHA1" 
					passwordFormat="Hashed"/>
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="AccessRoleProvider" cacheRolesInCookie="true" cookieName=".ASPXROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<add name="AccessRoleProvider" 
					type="Samples.AccessProviders.AccessRoleProvider, SampleAccessProviders" 
					connectionStringName="LUP" 
					applicationName="LibrairieUnPeuPlus"/>
			</providers>
		</roleManager>
		<profile enabled="true" defaultProvider="AccessProfileProvider">
			<providers>
				<add name="AccessProfileProvider" 
					type="Samples.AccessProviders.AccessProfileProvider, SampleAccessProviders" 
					connectionStringName="LUP" 
					applicationName="LibrairieUnPeuPlus" 
					description="Stores and retrieves profile data from an $safeprojectname$ database."/>
			</providers>
			<properties>
				<add name="FriendlyName" type="string" allowAnonymous="true" serializeAs="String"/>
				<add name="Height" type="int" allowAnonymous="true" serializeAs="String"/>
				<add name="Weight" type="int" allowAnonymous="true" serializeAs="Xml"/>
        <add name="CarteDeCredit" type="string"/>
        <add name="Adresse1" type="string"/>
        <add name="Adresse2" type="string"/>
        <add name="Cite" type="string"/>
        <add name="Region" type="string"/>
        <add name="CodePostal" type="string"/>
        <add name="Pays" type="string"/>
        <add name="ZoneDeLivraison" type="string"/>
        <add name="OfficePhone" type="string"/>
        <add name="HomePhone" type="string"/>
			</properties>
		</profile>
		<anonymousIdentification enabled="true" cookieName=".ASPXANONYMOUS" cookieTimeout="100000" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="None" domain=""/>
		<webParts>
			<personalization defaultProvider="AccessPersonalizationProvider">
				<providers>
					<add name="AccessPersonalizationProvider" 
						type="Samples.AccessProviders.AccessPersonalizationProvider, SampleAccessProviders" 
						connectionStringName="LUP" 
						applicationName="LibrairieUnPeuPlus"/>
				</providers>
			</personalization>
		</webParts>
      <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="LUP" />
      </providers>
    </sessionState>
    <authentication mode="Forms">
      <forms name="LibrairirieUnpeuPlusLogin" path="/" loginUrl="~/Connexion/login.aspx"  timeout="60"></forms>
    </authentication>
    <!--
    <sessionState mode="InProc" stateConnectionString="tcpip=localhost:13088" cookieless="true" timeout="20" AccessConnectionString ="data source=127.0.0.1;Trusted_Connexion=yes" />
    -->
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none" />
    <add key="MailServer" value="mail server address" />
    <add key="MailUsername" value="mail username" />
    <add key="MailPassword" value="mail password" />
    <add key="Mailfrom" value="mail address" />
    <add key="EnableErrorLogEmail" value="false" />
    <add key="ErrorLogEmail" value="djas3@gmail.com" />
    <add key="NomSite" value="LibrairieUnPeuPlus" />
    <add key="CartPersistDays" value="10"/>
  </appSettings>
  <connectionStrings>
    <add name="LUP" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Arthson mukeya\Documents\Visual Studio 2012\WebSites\librairieunpeuplus\App_Data\librairie2.mdb " providerName="System.Data.OleDb" />
  </connectionStrings>
  <!--section qui attribue les droits aux administrateurs qui ont un acces privilégies à certaines pages du site-->
  <location path="AdminShoppingCart.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrateur"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AdminCommandes.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrateur"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AdminDetailsCommandes.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrateur"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Connexion/Profile.aspx">
    <system.web>
      <authorization>
        <allow roles="Utilisateurs"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Checkout.aspx">
    <system.web>
      <authorization>
        <allow roles="Utilisateurs"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CommandeConfirmee.aspx">
    <system.web>
      <authorization>
        <allow roles="Utilisateurs"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--********fin*********-->
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>